.uber-logo {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5;
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

.global-header {
  background-color: #09091a;
  color: #c0c0c8;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
